.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body{
  /*background-color: dimgray;*/
}

.dappHeader{
  height: 10vh;
  display: flex;
}

h1{
  margin: auto;
  padding: 0;
  color: rgb(255, 123, 0);
}

.mainConteneur{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
}

.mainConteneurChild{
  width: 40%;
  margin: 5px;
  overflow: auto;
}
.conteneur{
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1% 1% 1% 1%;
  margin: 1% 0%;
  text-align: left;
}

.offre{
  text-align:center;
}

.soustitre1, .soustitre2{
  display: inline;
}

.soustitre2{
  color: rgb(104, 102, 102);
}

h3{
  padding: 0;
  margin: 0;
  color: rgb(255, 123, 0);
}

p{
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  color: rgb(104, 102, 102);
}

ul{
  padding: 0px;
}

li{
  list-style-type: none;
}

h4{
  margin: 0% 0% 0% 0%;
}

.formulaireConteneur{
  padding: 1% 0% 3% 1%;
  margin: 1% 20%;
}

/*.formulaire{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1%;
  margin-top: 5%;
  text-align: left;
}*/

.formulaireItems{
  text-align: left;
  margin-bottom: 5px;
}

.champs{
  margin: 3% 0% 3% 5%;
}

input{
  margin-left: 3px;
  width: 40%;
}

#contenuHasher{
  width: 90%;
  border: 0;
}
